body {
	margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

br.clear {
	clear: both;
}

.alright  {
	text-align: right;
}

.alleft  {
	text-align: left;
}

.alcenter {
	text-align: center;
}
