.list-editor {
}
.list-editor .item {
	margin: 1px;
	padding: 5px;
	cursor: default;
}
.list-editor .item .remove-button {
	position: relative;
	left: -20px;
	opacity: 0;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-image: url('css/Images/DeleteIcon.png');
}
br.clear {
	clear: both;
}