.pager {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	border: 1px solid #efefef;
}

.pager-statistics {
	margin-top: 5px;
	padding: 5px;
	border: 1px solid #efefef;
}

.pager .page {
	float: left;
	width: 30px;
	margin: 5px;
	text-align: center;
	cursor: pointer;
}

.pager .title {
	float: left;
	padding-top: 5px;
	padding-right: 15px;
}

.pager .page:hover {
	background-color: #f1f1f1;
}

.pager .page.current {
	background-color: #e1e1e1;
}